/* style.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* 水色から白への綺麗なグラデーション */
    background: linear-gradient(135deg, #e0f2f1 0%, #ffffff 100%);
    font-family: 'Times New Roman', serif;
}

#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    pointer-events: none; /* 下にあるp5.jsの3Dを触れるように */
}

#title {
    font-weight: 100;
    letter-spacing: 0.5rem;
    color: #546e7a;
    text-transform: uppercase;
    margin-top: 50px;
}

#qrcode-container {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cfd8dc;
    backdrop-filter: blur(5px);
    pointer-events: auto;
}

#open-btn {
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #b0bec5;
    padding: 15px 50px;
    font-size: 1.2rem;
    color: #455a64;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: all 0.5s;
}

#open-btn:hover {
    background: #ffffff;
    box-shadow: 0 0 20px rgba(255,255,255,1);
    transform: scale(1.05);
}

.result-card {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: #37474f;
    backdrop-filter: blur(10px);
    pointer-events: auto;
}